body
{
background-color:rosybrown;
}
<title>navigation</title>
<style>
.navbar {
background-color:blue;
border-radius:10px;
/*width:220px;*/
}
.navbar ul{
    overflow: auto;
}
.navbar li{
           list-style-type:none;
           float: right;
           padding:4px;
           margin:4px;
        
}
.navbar {
           overflow: none;
}

h1
{
color:lightblue;
}

p
{
font-family:Algerian;
}